.container {
  grid-area: favorites;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 32px;
  letter-spacing: -0.408px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 32px;
}

.controls {
  display: flex;
  margin-bottom: 32px;
  gap: 8px;
}

.button {
  position: relative;
  font-family: inherit;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #99a0a3;
  background: none;
  border-radius: 4px;
  padding: 4px 30px 4px 8px;
  border: 1px solid #e5e5e5;
}

.button svg {
  position: absolute;
  right: 10px;
  top: 8px;
  fill-opacity: 0.42;
}

.buttonActive {
  color: #41522e;
  border-color: #41522e;
}

.buttonActive svg {
  fill: #41522e;
  fill-opacity: 1;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 288px;
  overflow: auto;
  padding-right: 14px;
}

.list::-webkit-scrollbar {
  width: 2px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #41522e;
  border-radius: 2px;
}

/* .buttonActive .bottomArrowSvg {
  fill-opacity: 0.3;
} */
