.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../../public/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
