.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.bg {
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('../../../public/img/bg.jpg');
  filter: blur(10px);
  background-size: cover;
  background-position: 100% 100%;
  width: 100%;
}
