.container {
  margin-bottom: 62px;
}

.slide {
  margin-right: 12px;
}

.slide:focus-visible {
  outline: none;
}

.slide img {
  display: block;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  object-fit: cover;
  width: 165px;
  height: 150px;
}
