.item {
  position: relative;
}

.item:not(:last-child) {
  margin-bottom: 33px;
}

.item:not(:last-child)::after {
  position: absolute;
  content: '';
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(135, 135, 135, 0.2);
  border-radius: 8px;
}

.itemTitle {
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.button:hover path {
  fill: #ebebeb;
  stroke: #c4c4c4;
}

.isFavorite path {
  stroke: #e55858;
  fill: #e55858;
}

.dateWrapper {
  display: flex;
  color: #878787;
  margin-bottom: 10px;
}

.date {
  position: relative;
  padding-right: 37px;
}

.date::after {
  position: absolute;
  top: 50%;
  right: 13px;
  content: '';
  width: 9px;
  height: 1px;
  background: #c4c4c4;
  border-radius: 2px;
}

.featuresWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratingStars {
  position: relative;
  display: block;
  font-size: 0;
  width: 99px;
  height: 17px;
}

.ratingStars::before {
  content: '';
  display: inline-block;
  height: 100%;
  background: url('/public/img/stars.svg') transparent no-repeat center;
  width: 99px;
  background-size: 99px 17px;
}

.ratingStars span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  width: 0;
}

.ratingStars span::before {
  content: '';
  display: inline-block;
  height: 100%;
  background: url('/public/img/active-stars.svg') transparent no-repeat center;
  width: 99px;
  background-size: 99px 17px;
}

.priceTitle {
  font-size: 11px;
  color: #878787;
  margin-right: 18px;
}

.price {
  font-weight: 400;
  font-size: 17px;
}

.bigCard:not(:last-child) {
  margin-bottom: 36px;
}

.bigCard {
  padding-left: 88px;
}

.bigCard::before {
  position: absolute;
  content: '';
  left: 0;
  top: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(65, 82, 46, 0.05);
  background-image: url('/public//img/home-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
