.main {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 410px 1fr;
  grid-template-areas:
    'locations hotels'
    'favorites hotels';
  gap: 24px;
}
